body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main{
  position: relative;
  top: 10vh;
  width: 50vw;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}
.food-list{
  list-style: none;
}

.food-item{
  text-align: left;
}

.ingredient-item{
    list-style: none;
}
.cost{
  float: right;
  margin-right: 2vw;
}

.food-item:hover{
  cursor: pointer;
}
